$background : #e4e3e6;
$red : #F44336;
$green : #4CAF50;
$blue : #2196F3;
$blue-light : #b7d5ef;
$yellow : #FFEB3B;
$black : #0e0e0e;
$black-light : #676767;

body{
	background: $background;	
}
.red{ background: $red }
.green{ background: $green }
.blue{ background: $blue }
.blue-light{ background: $blue-light }
.yellow{ background: $yellow }
.black{ background: $black }
.black-light{ background: $black-light }
#first-section
{
	h1
	{
		text-align: center;
		font:
		{
			weight:500;	
			size: 50px;
		}
	}
	h3
	{
		text-align: center;
		font:
		{
			weight:500;	
			size: 30px;
		}
	}
	p
	{	
		text-align: center;
	}
}
#container-colours-row-wrap{
	width: 80%;
	margin: 0 auto;
	display: flex;
    justify-content: flex-start;
		.box-flex
		{
			width: 20%;
   			min-height: 200px;
   			display: inline-flex;
   			p{
   				    display: grid;
				    align-content: center;
				    margin: 0 auto;
				    color: white;
    				font-size: 33px;
   			}
		}

}
#container-colours-nowrap{
	width: 80%;
	margin: 0 auto;
	display: flex;
  	justify-content: flex-end;
		.box-flex
		{
			width: 20%;
   			min-height: 200px;
   			display: inline-flex;
   			p{
   				    display: grid;
				    align-content: center;
				    margin: 0 auto;
				    color: white;
    				font-size: 33px;
   			}
		}
}

#container-colours-wrap-center{
	width: 80%;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
		.box-flex
		{
			width: 20%;
   			min-height: 200px;
   			display: inline-flex;
   			p{
   				    display: grid;
				    align-content: center;
				    margin: 0 auto;
				    color: white;
    				font-size: 33px;
   			}
		}
}

#container-colours-wrap-space-between{
	width: 80%;
	margin: 0 auto;
	display: flex;
  	justify-content: space-between;
		.box-flex
		{
			width: 20%;
   			min-height: 200px;
   			display: inline-flex;
   			p{
   				    display: grid;
				    align-content: center;
				    margin: 0 auto;
				    color: white;
    				font-size: 33px;
   			}
		}
}

#container-colours-wrap-space-around{
	width: 80%;
	margin: 0 auto;
	display: flex;
  	justify-content: space-around;
		.box-flex
		{
			width: 20%;
   			min-height: 200px;
   			display: inline-flex;
   			p{
   				    display: grid;
				    align-content: center;
				    margin: 0 auto;
				    color: white;
    				font-size: 33px;
   			}
		}
}
